body{
 margin: 0;
 background-color: #373737;
}
.header{
 background-color: #2192FF;
 margin: 0;
 border: 0;
 padding-top: 15px;
 padding-bottom: 50px;
}
.name{
 margin-left: 5%;
 text-decoration: none;
 float: left;
 font-size: 30px;
 color: #000000;
}
.topanime{
text-align: right;
 color: #000000;
 text-decoration: none;
 font-size: 22px;
 float: left;
 padding-left: 20%;
}
.manga{
  text-align: right;
  color: #000000;
  text-decoration: none;
  font-size: 22px;
  float: left;
 padding-left: 40px;
}
.img{
 float: right;
}
.anime{
 color:#150050 ;
 padding-left: 20px;
}
.meaning{
 color: #51557E;
 font-size: 20px;
 text-align: left;
 padding-left: 60px;
}
.animewebsites{
 text-align: right;
  color: #000000;
  text-decoration: none;
  font-size: 22px;
  float: left;
 padding-left: 40px;
}
.mangawebsites{
 text-align: right;
  color: #000000;
  text-decoration: none;
  font-size: 22px;
  float: left;
 padding-left: 40px;
}

